@{
    var store = Context.GetShoppingContext();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @store.StoreName</title>
    <link rel="stylesheet" href="~/css/@(store.StoreTheme)/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shopping.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@store.StoreName</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - @store.AccountName 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.4"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- context -->
    @{
        var context = Context.GetShoppingContext();
    }
    <span class="visually-hidden" data-test-id="store-id">@context.StoreId</span>
    <span class="visually-hidden" data-test-id="store-name">@context.StoreName</span>
    <span class="visually-hidden" data-test-id="store-theme">@context.StoreTheme</span>
    <span class="visually-hidden" data-test-id="account-id">@context.AccountId</span>
    <span class="visually-hidden" data-test-id="account-name">@context.AccountName</span>
    <!-- end context -->

</body>
</html>
